*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

/*//////////////////////////////////////--=== Cookies styles ===--////////////////////////////////////////*/

#cookies{
	background-color:#725694;
	position:fixed;
	bottom: 30px;
	right:30px;
	opacity:0.9;
	z-index:999;
	color:#FFFFFF;
	border-radius: 10px;
}

.cookieLinks{
	color:#FFFFFF;
}

.cookieLinks:hover{
	color:#000000;
}

/* /////////////////////////--=== Banner styles ===--//////////////////////// */

@font-face {
    font-family: 'Averta Demo PE';
    src: url('fonts/AvertaDemoPE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title_text{
	color: #2E2E2E;
	font-family: 'Averta Demo PE';
    font-style: normal;
	font-size: 40px;
	font-weight: 600;
	line-height: 130%;
}

.block{
    height: 289px;
	border-radius: 4px;
	background: #F9F9F9 !important;
}

.text-desc{
	color: #2E2E2E;
	font-family: 'Averta Demo PE';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	margin-top: 32px;
}

.opis{
	color: #2E2E2E;
	font-family: 'Averta Demo PE';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	margin-top: 16px;
}

/* ////////////////////////////--=== Slider styles ===--//////////////////////////// */

.slide-btn{
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	background-color: #E0E0E0 !important;
}

.carousel-indicators > .active{
	background-color: #78599C !important;
}

.carousel-inner{
	background: #F9F9F9 !important;
	width: 80% !important;
	margin: 0 auto;
}

.title_mob{
    width: 80%;
    margin: 0 auto !important;
	font-size: 24px;
	font-weight: 700;
}

/* ////////////////////////////--=== Media styles ===--//////////////////////////// */

@media (max-width: 1920px) {
	.banner{
		display: block;
	}

	.carousel{
		display: none;
	}

	.block{
		background: #F9F9F9;
	}
}

@media (max-width: 991px) {
	.banner{
		display: none;
	}

	.carousel{
		display: block;
	}

	.block{
		background: none;
	}
}
